.forgot-password-form {
  padding: 0 1rem 1rem 1rem;
}

.forgot-password-form > * {
  margin-top: 1rem;
}

.forgot-password-form_h1 {
  color: var(--base-color-700);
}

.forgot-password-form_h1--dark {
  color: #fff;
}

.forgot-password-form_links {
  font-size: 0.75rem;
}

.forgot-password-form_links > * {
  margin-top: 0.25rem;
}

.link {
  color: var(--secondary-color-500);
  text-decoration: none;
  outline: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  border-radius: 0.375rem;
  border: 2px solid var(--secondary-color-500);
}

.forgot-password-form__forgot {
  color: var(--base-color-700);
}

.forgot-password-form__forgot--dark {
  color: #fff;
}

.forgot-password-reset-code button {
  background: transparent;
  margin: 0 0 0 0.1rem;
  padding: 0;
  border-color: transparent;
  border-radius: 0.375rem;
  color: var(--secondary-color-500);
  outline: none;
  line-height: 1.25rem;
  font-size: 0.75rem;
}

.forgot-password-reset-code button:focus {
  border: 2px solid var(--secondary-color-500);
}
