/* COMMON */

.label_common {
  display: block;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.label_button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.6rem;
  color: var(--secondary-color-500);
  margin: 0 0 0 0.25rem;
}

.label_button:focus {
  border-radius: 0.375rem;
  padding: 0 0.1rem;
  border: 2px solid var(--secondary-color-500);
}

.input__common {
  width: 100%;
  padding: 0.5rem 0.25rem;
  margin: 0.25rem 0;
  appearance: none;
  font-size: 0.75rem;
  outline: none;
  border-radius: 0.375rem;
  border-width: 2px;
  border-style: solid;
}

.input__common:focus {
  transition: 0.5s;
  border-color: var(--secondary-color-500);
}

.input__common::placeholder {
  color: var(--base-color-500);
}

/* LIGHT */

.input {
  caret-color: var(--base-color-700);
  border-color: var(--base-color-300);
  color: var(--base-color-700);
}

.label {
  color: var(--base-color-900);
}

/* DARK */

.label--dark {
  color: var(--base-color-50);
}

.input--dark {
  background: var(--base-color-700);
  border-color: var(--base-color-600);
  caret-color: var(--base-color-300);
  color: var(--base-color-300);
}
