.card__common {
  padding: 0.5rem;
  max-width: fit-content;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 3px 11px 1px #2f2f2f;
}

.card {
  background: #fff;
  border-color: #ddd;
}

.card--dark {
  background: var(--base-color-800);
  border-color: var(--base-color-800);
}
