@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* JUST FOR TESTING */
/* 
    html { border: 5px dashed black; }
    body { border: 5px dashed red; }
    #root { border: 5px dashed greenyellow; }
    #unauthorize-template { border: 5px dashed cyan; }
    #authorize-template { border: 5px dashed cyan; }
 */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--secondary-color-500);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

#unauthorize-template {
  min-width: 340px;
  padding: 1rem 0.5rem;
}

#authorize-template {
  min-width: 340px;
  height: 100%;
  max-width: 500px;
  margin: auto;
}

:root {
  /* BASE */
  --base-color-50: #fafafa;
  --base-color-100: #f5f5f5;
  --base-color-200: #e5e5e5;
  --base-color-300: #d4d4d4;
  --base-color-400: #a3a3a3;
  --base-color-500: #737373;
  --base-color-600: #525252;
  --base-color-700: #404040;
  --base-color-800: #262626;
  --base-color-900: #171717;
  /* SECONDARY */
  --secondary-color-50: #f0f9ff;
  --secondary-color-100: #e0f2fe;
  --secondary-color-200: #bae6fd;
  --secondary-color-300: #7dd3fc;
  --secondary-color-400: #38bdf8;
  --secondary-color-500: #0ea5e9;
  --secondary-color-600: #0284c7;
  --secondary-color-700: #0369a1;
  --secondary-color-800: #075985;
  --secondary-color-900: #0c4a6e;
}
